<!DOCTYPE html>
<html>
<head>
<style>
    body,html{
      padding:0px;
      margin:0px;
       background: transparent url(http://localhost/land.png);
      background-repeat: no-repeat;
      background-size:cover;
      height:100%;
      width:100%;
    }
    .bg-image{
      width:10.2cm;
    }
    .pdf-area{
      font-size: 50pt;
    }
    .pdf-area div{
      margin:10px 0px;
    }
    .pdf-area .page .header .date{
      float:right;
      margin-bottom: 80pt;
      font-size: 40pt;
      color:#555;
    }
    .clear{
      clear:both;
    }
    .table {
      width:100%;
      margin:120px 0px;
      border-collapse: collapse;
    }
    .table td{
      border:1px solid #ccc;
      font-size: 45pt;
      padding:20px;
      border-collapse: collapse;
    }
    .footer{
      font-size: 45pt
    }
    .footer div{
      margin:20px 0px;
    }
    .page {
      
      page-break-after: always;
      padding-top: 300px;
     

    }
    .page .header{
      padding-top: 285pt;
      font-size: 30pt;
      margin-left: 20pt;
      font-family: arial;
    }
        .fax-image{
            width:100%;

        }
        .page-title{
          font-size: 60pt;
          font-weight: bold;
        }
        .landing-title{
          background: #eee;
          padding:30pt
        }
        .landing-page{
          padding-top: 50px;
        }
        .landing-page .header div{

          padding-bottom: 10px;
          margin-bottom: 20pt;
          padding:20pt;
        }
        .first_name{
          margin-top: -5pt;
        }
        .passport_number{
          
        }
  </style>
  </head>
<body>

    <div class="pdf-area">
    {% if passengers %}
    {% for item in passengers %}
    	<div class="page landing-page">
        
    		<div class="header">
          {% if item.last_name %}
            <div style="padding-bottom:10pt;"> {{item.last_name}}</div>
          {% endif %}
          {% if item.first_name %}
            <div class="first_name"> {{item.first_name}}</div>
          {% endif %}
          {% if item.gender=="Male" %}
            <div style="padding-top:35pt;padding-left:35pt; ">
              
              &#x2713;

            </div>
          {% endif %}
          {% if item.gender=="Female" %}
            <div style="padding-top:35pt;padding-left:215pt; ">
              
              &#x2713;

            </div>
          {% endif %}
          {% if item.dob %}
            <div style="padding-top:20pt;"> {{item.dob}}</div>
          {% endif %}
          {% if item.nationality %}
            <div> {{item.nationality}}</div>
          {% endif %}
          {% if item.passport_number %}
          
            <div style="padding-top:230pt;">{{item.passport_number}}</div>
          {% endif %}
          {% if length %}
            <div style="padding-top:35pt;padding-bottom: 10pt;">{{length}}</div>
          {% endif %}
					{% if port %}
            <div style="padding-top:15pt"> {{port}}</div>
          {% endif %}
          <div style="padding-top:40pt">Flight Number</div>
            <div style="padding-top:5pt">C/O QATAR EMBASSY - LONDON</div>
          
					

        </div>


    	</div>

    	{% endfor %}
    	{% endif %}
    	{% if  passengers|length == 0 %}

			No results found...!
		{% endif %}
    </div>
    <body>
</html>