<style>
.report-page-area{
	padding-right: 15px;
    padding-left: 15px;
}
.section_title{
	text-align: left;
	background: #f5f5f5;
	padding:8px 10px;
	margin: 0px;
	font-size: 15px;
	border-radius: 2px;
	box-shadow: 0px 0px 1px #999;
}
.custom-table{
	margin:0px;
	margin-bottom: 20px;
	text-align: left;
}
</style>
<div class="report-page-area">
	<div style="clear:both"></div>
 {% if data[0].items_list|length !=0 %}
 {% for item in data %}
 <h2 class="section_title">Authority: {{item.authority}}</h2>
	<table class="table table-bordered custom-table">
		<tr>
			<td><b>Booking Reference</b></td>
			<td><b>Number of Passengers</b></td>
			<td><b>Flight No</b></td>
			<td><b>Flight type</b></td>
			<td><b>Fax Number</b></td>
			<td><b>Calculated Cost</b></td>
			<td><b>Import Cost</b></td>
		</tr>
		{% for row_item in item.items_list %}
		<tr>
			<td>{{row_item.booking_ref_no}}</td>
			<td>{{row_item.passengers_count}}</td>
			<td>{{row_item.flight_number}}</td>
			<td>{{row_item.flight_type}}</td>
			<td>{{row_item.fax.ref_no}}</td>
			<td>2888$</td>
			<td>3000$</td>
		</tr>
        {% endfor %}
       
	</table>
{% endfor %}
{% endif %}
{% if  data[0].items_list|length == 0 %}
	No results found...!
{% endif %}
</div>
