<style>
.report-page-area{
	padding-right: 15px;
    padding-left: 15px;
}
.section_title{
	text-align: left;
	background: #f5f5f5;
	padding:8px 10px;
	margin: 0px;
	font-size: 15px;
	border-radius: 2px;
	box-shadow: 0px 0px 1px #999;
}
.custom-table{
	margin:0px;
	margin-bottom: 20px;
	text-align: left;
}
</style>
<div class="report-page-area">
<div style="clear:both"></div>

 {% if  data[0].items_list|length !=0 %}
	{% for item in data %}

	{% if params.search_option=="Customer" %}
<h2 class="section_title">Customer: {{item.customer}}</h2>
	{% endif %}
	{% if params.search_option=="Authority" %}
<h2 class="section_title">Authority: {{item.customer}}</h2>
	{% endif %}
	<table class="table table-bordered custom-table">
		<tr>
			<td><b>Booking ID</b></td>
			<td><b>Booking Reference Number</b></td>
			<td><b>Flight No</b></td>
			<td><b>Flight type</b></td>
			<td><b>Calculated Cost</b></td>
			<td><b>Actions</b></td>
		</tr>
		{% for row_item in item.items_list %}
		<tr>
			<td>{{row_item.name}}</td>
			<td>{{row_item.booking_ref_no}}</td>
			<td>{{row_item.flight_number}}</td>
			<td>{{row_item.flight_type}}</td>
			<td>2888$</td>
			<td><a href="" data-booking="{{row_item.name}}"   class="btn btn-secondary btn-default btn-sm make_pdf_export"><i class="visible-xs fa fa-refresh"></i><span class="hidden-xs">Export PDF</span></a></td>
		</tr>
        {% endfor %}
	</table>
	{% endfor %}
{% endif %}

{% if  data[0].items_list|length == 0 %}
	No results found...!
{% endif %}

</div>
