<style>
		.pdf-area{
			/*font-size: 50pt;*/
		}
		.pdf-area div{
			margin:10px 0px;
		}
		.pdf-area .page .header .date{
			float:right;
			margin-bottom: 15pt;
			/*font-size: 40pt;*/
			color:#555;
		}
		.clear{
			clear:both;
		}
		.table {
			width:100%;
			margin:0px 0px;
			border-collapse: collapse;
		}
		.table td{
			border:1px solid #ccc;
			/*font-size: 45pt;*/
			padding:10px;
			border-collapse: collapse;
		}
		.footer{
			/*font-size: 45pt*/
		}
		.footer div{
			margin:10px 0px;
		}
		.page {
			padding-top: 30px;
			page-break-after: always;

		}
        .fax-image{
            width:100%;

        }
        .page-title{
        	/*font-size: 60pt;*/
        	font-weight: bold;
        }
        .section_title{
			text-align: left;
			background: #f5f5f5;
			padding:8px 10px;
			margin: 0px;
			/*font-size: 45pt;*/
			border-radius: 2px;
			box-shadow: 0px 0px 1px #999;
		}
		.custom-table{
			margin:0px;
			margin-bottom: 20px;
			margin-top: -10px;
			text-align: left;
		}
	</style>
    <div class="pdf-area">
    <div style="clear:both"></div>
    {% for report in data %}
    {% for item in report.items_list %}
    <div class="page-title">Vehicle Report</div>
    {% if item %}

    	<div class="page">
    		<div class="header">
                {% if item.name %}
		    	<div><b>Booking:</b> {{item.name}}</div>
                {% endif %}
                {% if item.passenger.fullname %}
		    	<div><b>Passenger:</b> {{item.passenger.fullname}}</div>
                {% endif %}
                {% if item.flight_number %}
		    	<div><b>Flight Number:</b> {{item.flight_number}}</div>
                {% endif %}

	    	</div>
	    	<br/>
	    	{% if item.assigned_pr_officers|length > 0 %}
				<div class="section_title">PR Officers</div>
				<table class="table table-bordered custom-table">
					<tr>

						<td><b>Officer</b></td>
					</tr>

					{% for row_item in item.assigned_pr_officers %}
					<tr>
						<td>{{row_item.officer}}</td>
					</tr>
			        {% endfor %}
				</table>
				{% endif %}
	    		{% if item.assigned_cars|length > 0 %}
				<div class="section_title">Assigned Cars</div>
				<table class="table table-bordered custom-table">
					<tr>

						<td><b>Type</b></td>
						<td><b>Model</b></td>
						<td><b>From</b></td>
						<td><b>To</b></td>
						<td><b>Quantity</b></td>
						<td><b>Cost</b></td>
					</tr>

					{% for row_item in item.assigned_cars %}
					<tr>

						<td>{{row_item.service_name}}</td>

						<td>{{row_item.vehicle_type}}</td>
						<td>
							{% if row_item.service_name == "Disposal" %}
								{{row_item.disposal_from}}
							{% endif %}
							{% if row_item.service_name != "Disposal" %}
								{% if row_item.transfer_from != "Other" %}
									{{row_item.transfer_from}}
								{% endif %}
								{% if row_item.transfer_from == "Other" %}
									{{row_item.transfer_from_other}}
								{% endif %}
							{% endif %}
						</td>
						<td>

							{% if row_item.service_name == "Disposal" %}
								{{row_item.disposal_to}}
							{% endif %}
							{% if row_item.service_name != "Disposal" %}
								{% if row_item.transfer_to != "Other" %}
									{{row_item.transfer_to}}
								{% endif %}
								{% if row_item.transfer_to == "Other" %}
									{{row_item.transfer_to_other}}
								{% endif %}
							{% endif %}

						</td>
						<td>{{row_item.Quantity}}</td>
						<td>3000$</td>

					</tr>
			        {% endfor %}
				</table>
				{% endif %}
			{% endif %}
	    	{% if not item %}
				No results found...!
			{% endif %}
			<div class="footer">
	                {% if item.authorized_by %}
			    	<div><b>Authorized By:</b> {{item.authorized_by}}</div>
	                {% endif %}
	                <br/><br/><br/>
	                {% if item.signed_by %}
			    	<div><b>Signed By:</b> {{item.signed_by}}</div>
	                {% endif %}
		    </div>
    	</div>



	    {% if item.fax.attachment %}
        <div class="page">
            <img src="{{item.fax.attachment}}"  class="fax-image" />
        </div>
        {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
