<style>
		.pdf-area{
			font-size: 50pt;
		}
		.pdf-area div{
			margin:10px 0px;
		}
		.pdf-area .page .header .date{
			float:right;
			margin-bottom: 80pt;
			font-size: 40pt;
			color:#555;
		}
		.clear{
			clear:both;
		}
		.table {
			width:100%;
			margin:120px 0px;
			border-collapse: collapse;
		}
		.table td{
			border:1px solid #ccc;
			font-size: 45pt;
			padding:20px;
			border-collapse: collapse;
		}
		.footer{
			font-size: 45pt
		}
		.footer div{
			margin:20px 0px;
		}
		.page {
			padding-top: 300px;
			page-break-after: always;

		}
        .fax-image{
            width:100%;
           
        }
        .page-title{
        	font-size: 60pt;
        	font-weight: bold;
        }
	</style>
    <div class="pdf-area">
    <div style="clear:both"></div>
    <div class="page-title">Summary per Authority</div>
    {% if data[0].items_list|length!=0 %}
    {% for item in data %}
    	<div class="page">
    		<div class="header">
                
                {% if item.authority %}
		    	<div><b>Authority:</b> {{item.authority}}</div>
                {% endif %}
                {% if params.start %}
		    	<div><b>From Date:</b> {{params.start}}</div>
                {% endif %}
                {% if params.end %}
		    	<div><b>To Date:</b> {{params.end}}</div>
                {% endif %}
	    	</div>
	    	
				<table class="table table-bordered">
					 <tr>
						<td><b>Passenger Name</b></td>
						<td><b>Flight No</b></td>
						<td><b>Flight type</b></td>
						<td><b>Total Cost of hired cars</b></td>
					</tr>
					{% for row_item in item.items_list %}
					<tr>
						<td>{{row_item.passenger.fullname}}</td>
						<td>{{row_item.flight_number}}</td>
						<td>{{row_item.flight_type}}</td>
						<td>2888$</td>
					</tr>
			        {% endfor %}
				</table>
			
			
    	</div>
       	
    	{% endfor %}
    	{% endif %}
    	{% if  data[0].items_list|length == 0 %}
    		<div class="header">
                {% if params.authority %}
		    	<div><b>Authority:</b> {{params.authority}}</div>
                {% endif %}
                {% if params.start %}
		    	<div><b>From Date:</b> {{params.start}}</div>
                {% endif %}
                {% if params.end %}
		    	<div><b>To Date:</b> {{params.end}}</div>
                {% endif %}
	    	</div>
			No results found...!
		{% endif %}
    </div>
